body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: 'Halant', serif;
}

/* header */
.header {
  height: 50px;
  padding: 12px;
  background-color: #666666;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

nav {
  width: 45%;
}

.logo_title {
  color: #fff68f;
  font-weight: 600;
  font-family: 'Halant', serif;
  font-size: 1.3em;
  width: 33%;
}

.hamburger_icon {
  color: #fff68f;
}

/* MainNav */
.main_nav_container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
